body {
    /*background-color: blue;*/
    /*background-image: url("bridge.jpg");*/
    /*background-repeat: no-repeat;*/
    /*background-size: 100% 100%;*/
    background: url("./bridge.jpg") 0 / cover fixed;
}

main{
    position: absolute;
    top: 0; bottom: 0;
    left: 0; right: 0;
    width: 800px;
    height: 500px;
    line-height: 2;
    margin: auto;
    border-radius: 5px;
    background: rgba(255, 255, 255, .3);
    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);
}

table {
    text-align: center;
    margin: auto;
}
/*自己写的*/
/*main {*/
/*    position: absolute;*/
/*    top: 0;*/
/*    bottom: 0;*/
/*    left: 0;*/
/*    right: 0;*/
/*    width: 800px;*/
/*    height: 500px;*/
/*    margin: auto;*/
/*    line-height: 2;*/
/*    border-radius: 10px;*/
/*    backdrop-filter: blur(10px);*/
/*}*/

/*别人写的*/
/*main{*/
/*    position: absolute;*/
/*    top: 0; bottom: 0;*/
/*    left: 0; right: 0;*/
/*    width: 800px;*/
/*    height: 500px;*/
/*    line-height: 2;*/
/*    margin: auto;*/
/*    border-radius: 5px;*/
/*    background: rgba(255, 255, 255, .3);*/
/*    box-shadow: 3px 3px 6px 3px rgba(0, 0, 0, .3);*/
/*    overflow: hidden;*/
/*}*/
/*main::before{*/
/*    content: '';*/
/*    position: absolute;*/
/*    top: 0; bottom: 0;*/
/*    left: 0; right: 0;*/
/*    backdrop-filter: blur(10px);*/
/*    z-index: -1;*/
/*    margin: -30px;*/
/*}*/

